<!DOCTYPE html>
<html>
  <head>
    <title>fishboling</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= datas %></h1>
    <form action="/" method="post">
      <input id="file" name="file" type="file"><br>
      <button type="submit">送信</button>
  </form>
  </body>
</html>
