<!DOCTYPE html>
<html>
  <head>
    <title>fishbowling</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/wordView">文章を作る</a>
    <%= showmsg %>
    <form action="/" method="post">
      <input id="title" name="title" type="text">
      <input id="word" name="word" type="text"><br>
      <input id="file" name="file" type="file"><br>
      <button type="submit">送信</button>
  </form>
  </body>
</html>
