<!DOCTYPE html>
<html>
  <head>
    <title>fishboling</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= title %></p>
    <% for (let i=0; i < boxs.length; i++) {%> 
      <p><%= boxs[i].word %></p>
    <% } %>
    <a href="/text" download="text.txt">ダウンロード(HTML5のdownload属性)</a><br>
    <a href="/">戻る</a>
    <script>
    </script>
  </body>
</html>