<!DOCTYPE html>
<html>
  <head>
    <title>fishbowling</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% for (let i=0; i <= texts.length; i++) {%> 
      <p><%= texts[i] %></p>
    <% } %>
    <form action="/wordView" method="post">
      <button type="submit"><%= btnText %></button>
    </form>
    <a href="/text" download="text.txt">ダウンロード</a><br>
    <a href="/">戻る</a>
  </body>
</html>